@media screen and (min-width: 480px) {
    * {
        box-sizing: border-box;
    }

    body,
    html {
        height: 100%;
    }

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("image/img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }

    label {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        justify-content: center;
    }

    .email {
        border-radius: 15px;
        padding: 0px 50px;
        border: 1px rgba(0, 0, 0, 0.5);
        background-color: #dac684;
        text-align: center;
        font-size: 15px;
        color: rgb(0, 0, 0);
        outline: none;
    }

    .email:focus {
        background-color: #dac684;
        color: rgb(0, 0, 0);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #d4ad2c;
    }

    form .container-items {
        display: flex;
        justify-content: center;
        padding: 10px 20px;

    }

    .enviar {
        margin: 10px;
        border-radius: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        font-weight: bold;
        padding: 20px 30px;
        border: 1px solid rgba(0, 0, 0, 0);
        color: antiquewhite;
        background-color: #000000;
    }

    .enviar:hover {
        background-color: #2e3449;
    }
}

@media screen and (max-width: 480px) {
    body,
    html {
        height: 100%;
    }
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("image/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #d4ad2c;
    }

    label {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(0, 0, 0);
        margin: 10px;

    }
    .email {
        border-radius: 15px;
        size: 20px;
        padding: 10px 30px;
        border: 1px rgba(0, 0, 0, 0.5);
        background-color: #dac684;
        text-align: center;
        font-size: 15px;
        color: rgb(0, 0, 0);
        outline: none;
    }

    .email:focus {
        background-color: #dac684;
        color: rgb(0, 0, 0);
    }
    .enviar {
        border-radius: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        font-weight: bold;
        padding: 10px 20px;
        border: 1px solid rgba(0, 0, 0, 0);
        color: antiquewhite;
        background-color: #000000;
    }

    .enviar:hover {
        background-color: #2e3449;
    }
}